
.DS_Store
# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/bin/
*.txt
/teste/
*.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
